/* MultiCarousel.css */

.carousel-control-prev {
  left: 0;   /* 왼쪽 끝으로 이동 */
}

.carousel-control-next {
  right: 0;  /* 오른쪽 끝으로 이동 */
}

.carousel-control-prev,
.carousel-control-next {
    width: 60px;
    height : 60px;
    transition: background-color 0.3s;
    top: 50%;
    transform: translateY(-50%);
    z-index:99;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
}