.ProductRightInfo{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid black;
}

.price-form{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #888888;
    padding: 10px;
}

.select-form{
    margin: 10px 0;
}

.cash-form{
    display: flex;
    justify-content: center;
}